body{
    max-width: 980px;
    color: rgb(21, 12, 61);
    margin: auto;
}

.gra_label{
    width: 140px;
}

.ck.ck-reset.ck-editor.ck-rounded-corners{
    width: calc(100% - 140px)!important;
}
.hide{
    display: none;
}
.txt-line{
    text-decoration: line-through!important;
    color: red;
}
.pl-2{
    padding-left: 1rem!important;
}
.pl-3{
    padding-left: 2rem!important;
}
.ml-2{
    margin-left: 1rem!important;
}
.ml-3{
    margin-left: 2rem!important;
}
.text-grammar{
    font-size: 1.25rem;
    font-weight: 500;
}
rb,
rt {
    line-height: 0.75;
    font-size: 90%;
    color: red;
}
.pr-0{
    padding-right: 0rem;
}
.pl-0{
    padding-left: 0rem;
}

.gram_header{
    padding: 0.75rem;
    margin-top: 0.5rem;
    background-color: bisque;
}
.gram_header.even{
    background-color: rgb(238, 222, 238);
}


.gram_content{
    background-color: rgb(255, 239, 219);
    padding: 0.5rem;
}

.gram_content.even{
    background-color: thistle;
}